body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  background: #000;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #b082ce;
  margin-bottom: 4px;
}

button {
  background: hotpink;
  color: black;
  padding: 10px 20px;
  border: 1px solid hotpink;
  font-weight: light;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#delete-btn {
  background: white;
  color: hotpink;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 8px; /* optional: space between link and button */
}

a {
  color: #04e2ff;
}
.delete-single-btn {
  background: white;
  color: hotpink;
  border: 1px solid white;
  border-radius: 4px; /* Add rounded corners */
  padding: 10px 20px; /* Match other buttons */
  font-size: 14px; /* Match other buttons */
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
}

.delete-single-btn:hover {
  background: #04e2ff;
  color: black;
  border-color: #04e2ff;
}
